<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicons/OM-fav-180x180.png') }}" sizes="180x180">
<link rel="icon" href="{{ url_for('static', filename='images/favicons/OM-fav-64x64.png') }}" sizes="64x64" type="image/png">
<link rel="icon" href="{{ url_for('static', filename='images/favicons/OM-fav-32x32.png') }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ url_for('static', filename='images/favicons/OM-fav-16x16.png') }}" sizes="16x16" type="image/png">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/OM-fav-16x16.ico') }}" type="image/x-icon">