<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>om-fingerprinter: FP-Demo Item 07</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}" type="text/css">

    <meta name="author" content="Oldrich Molis">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="om-fingerprinter: FP-Demo Item 07">
    <meta name="theme-color" content="#36393f">

    {% include "partials/favicon.html" %}
</head>
<body>
    {% include "partials/noscript.html" %}

    {% include "partials/header.html" %}

    <main class="main-fp-demo-items">
        <div class="card">
            <h3 class="center">Calculator</h3>
            <img src="{{ url_for('static', filename='images/tabler-icons-3.40.0/calculator.svg') }}" alt="Image Calculator" class="image-fp-demo-item">
        </div>

        <div class="card">
            <h3>Description</h3>
            <p class="text-align-left">This calculator is designed for accurate and efficient everyday calculations. With a clear layout and responsive input, it ensures ease of use in various situations. Its practical design and reliable functionality make it a dependable tool for daily tasks.</p>
        </div>
    </main>
</body>
</html>